:root {
    --color-primary: #331D2C;
    --color-secondary: #FAFAFA;
    --color-accent: #F15A59;
}

body {
    background-color: var(--color-primary);
}

main {
    position: absolute;
    inset: 0;
    margin: auto;
    width: min-content;
    display: flex;
    align-items: center;
    gap: 1rem;
}

section {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 250px;
    height: 350px;
    padding: 0 0.5rem;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

section::-webkit-scrollbar {
    display: none;
}

article {
    transform-origin: center;
    height: 325px;
    width: 250px;
}

article img {
    object-fit: cover;
    filter: grayscale(1);
    transition: 200ms;
}

article:hover {
    transform: scale(1.05);
}

article img {
    transition: 200ms;
}

article img:hover {
    filter: grayscale(0);
    transform: scale(1.05);
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-accent);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    color: var(--color-secondary);
}

@media screen and (min-width: 45rem) {
    section {
        width: calc(250px * 2 + 1rem);
    }
}

@media screen and (min-width: 64rem) {
    section {
        width: calc(250px * 3 + 2rem);
    }
}