:root {
    --unit: 1rem;
    --primary-color-1: #46C2CB;
    --primary-color-2: #E5E5CB;
    --secondary-color: #2C3333;
    --error-color: rgb(160, 24, 0);
}

* {
    margin: 0;
}

[hidden] {
    display: none !important;
}

body {
    background: var(--secondary-color);
    font-family: sans-serif;
}

main {
    max-width: 30rem;
    min-width: 20rem;
    margin: clamp(3rem, 10vh, 10rem) auto;
    padding: 2rem;
}

section {
    background-image: linear-gradient(-45deg, var(--primary-color-1) 20%, var(--primary-color-2) 100%);
    padding: 2rem;
    border-radius: var(--unit);
    display: grid;
    gap: var(--unit);
}

form {
    display: flex;
    gap: var(--unit);
}

.search,
.search-btn {
    height: calc(var(--unit) * 2.5);
}

.search {
    flex: 1;
    background-color: white;
    ;
    border-radius: calc(var(--unit) * 2.5);
    display: flex;
    align-items: center;
    gap: calc(var(--unit) / 2);
    padding: 0 var(--unit);
}

input {
    border: none;
    outline: none;
    background-color: transparent;
    flex: 1;
    font-size: var(--unit);
}

input:hover,
input:active {
    border: none;
    outline: none;
}

.search-btn {
    border: none;
    outline: none;
    background-color: white;
    border-radius: 50%;
    aspect-ratio: 1;
}

.search-btn:active {
    transform: scale(0.9);
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--unit) / 2);
    margin-top: calc(var(--unit) / 2);
    height: var(--unit);
}

.loading span {
    height: calc(var(--unit) / 2);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--secondary-color);
    opacity: 0.5;
    filter: blur(0.5px);
    animation: bounce 300ms forwards infinite alternate cubic-bezier(.37,.58,.7,1.22);
}

.loading span:nth-child(2) {
    animation-delay: 150ms;
}

.loading span:nth-child(3) {
    animation-delay: 300ms;
}

@keyframes bounce {
    from {
        margin-top: 0;
    }

    to {
        margin-top: calc(var(--unit) / -1.5);
    }
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--unit) / 2.5);
    color: var(--error-color);
    font-family: monospace;
}

.error span {
    font-size: var(--unit);
}

.weather {
    display: grid;
    color: white;
    gap: var(--unit);
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--unit);
    padding: 0 var(--unit);
    padding-top: var(--unit);
}

.heading-content {
    display: grid;
    gap: var(--unit);
}

#behavior {
    font-size: calc(var(--unit) * 1.5);
}

.temp {
    font-size: calc(var(--unit) * 2.5);
}

.weather-icon-placeholder {
    flex: 1;
    display: grid;
    place-items: center;
    height: 100%;
}

#weather-icon {
    height: 100%;
    object-fit: contain;
}

#city {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.information {
    display: flex;
}

.information p {
    text-align: center;
}

.info {
    display: grid;
    gap: calc(var(--unit) / 2); 
}

.humidity {
    flex: 3
}

.wind-speed {
    flex: 4;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--unit);
}

.flex i {
    font-size: calc(var(--unit) * 3);
}

@media screen and (min-width: 30rem) {
    :root {
        --unit: 1.25rem;
    }
}