body {
    background-color: #EFEFEF;
}

main {
    position: absolute;
    inset: 0;
    margin: auto;
    width: min-content;
    height: min-content;
}

main div {
    position: absolute;
    margin: auto;
    height: 100%;
    width: 100%;
}

.circle {
    height: 160px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.outer {
    background: #EFEFEF;
    box-shadow: 5px 5px 9px #b1b1b1,
        -5px -5px 9px #ffffff;
}

.inner {
    height: 120px;
    width: 120px;
    top: 20px;
    left: 20px;
    background: #EFEFEF;
    box-shadow: inset 5px 5px 9px #b1b1b1,
        inset -5px -5px 9px #ffffff;
}

svg {
    position: relative;
    top: 2px;
    left: 3px
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
}

.progress {
    height: 1rem;
    width: 2.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    text-align: right;
}