:root {
    --color: #AFAFAF;
}

html, body {
    margin: 0
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: sans-serif;
    background-color: #333333;
    color: white;
}

main {
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input {
    display: flex;
    border: 1px solid var(--color);
    padding: 0.5rem;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 15rem;
    color: white;
}

input:is(:focus, :active) {
    border: none;
    outline: none;
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
}

.icon span {
    font-size: 1rem;
    color: #888888
}

#strength {
    min-height: 1.25rem;
    color: var(--color);
}