@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Poppins&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    overflow: hidden;
    display: grid;
    align-items: center;
    height: 100vh;
font-family: 'Poppins', sans-serif;
}

body * {
    position: relative;
}

.background {
    position: absolute;
    inset: 0;
    filter: brightness(0.3);
}

.background img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: min-content;
    max-width: 35rem;
    padding-right: 1rem;
    margin-left: clamp(0rem, 10vw, 30rem);
    color: #EFEFEF
}

h1 {
    font-family: 'Bakbak One', cursive;
    font-size: 3rem;
    font-weight: lighter;
}

main h3 {
    font-size: 1.5rem;
    font-weight: lighter;
}

form {
    display: flex;
    height: 2.5rem;
}

input {
    padding: 0.5rem;
    width: 15rem;
}

input, button {
    border: none;
    outline: none;
}

input:is(:focus, :active), button:is(:focus, :active) {
    border: none;
    outline: none;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    aspect-ratio: 1.5;
    height: 100%;
    background-color: #3f873f;
    color: #FAFAFA;
    font-size: large;
}

#submit-btn.loading .send {
    display: none;
}

#submit-btn.loading .spinner {
    display: initial;
}

#submit-btn:not(.loading) .send {
    display: initial;
}

#submit-btn:not(.loading) .spinner {
    display: none;
}

.spinner {
    animation: spin 1s forwards infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}